dialog::backdrop{
  background-color: transparent;
}
dialog{
  box-shadow:0 0 1em rgb(0 0 0 / .3);
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
}
dialog .form{
  padding: 30px;
  width: 400px;
  display: block;
  justify-content: center;
  align-items: center;
}
dialog .form input{
  margin-bottom: 4px;
  padding: 8px;
  width: 100%;
}
.btn-primary{
 width: 100%;
}

dialog span{
  
  cursor: pointer;
  color: red;
  font-weight: bold;
}


 